<h1>Create a new listing</h1>

<%= form_for @listing do |f| %>

  <%= f.label :budget %>
  <%= f.collection_select(:budget, @listings, :id, :budget) %>
  
  <%= f.label :location %>
  <%= f.collection_select(:location, @listings, :id, :location) %>
  
  <%= f.label :image %>
  <%= f.file_field :image %>
  
  <!-- <%= f.label :remote_image_url, "or image URL" %>
  <%= f.text_field :remote_image_url %> -->
  
  <%= f.label :category %>
  <%= f.collection_select(:category_id, @categories, :id, :name ) %>
  
  <%= f.submit %>
<% end %>